{% extends "layout.twig" %}
{% block content %}
    <h2>Изменение данных</h2>
    <form method="post" action="/update" id="edit">
        <p><label>Имя</label><br/> <input type='text' name="name" placeholder="Введите имя" required
                                          value="{{ session.name }}"/></p>
        <p><label>Почта</label><br/> <input type='email' name="email" placeholder="Введите почту" required
                                            value="{{ session.email }}"/></p>
        <p><label>Пароль</label> <br/><input type='password' name="password" placeholder="Введите пароль" required
                                             value=""/></p>
        <p><label>Подтверждение пароля</label><br/> <input type='password' name="password_confirmed" required
                                                           placeholder="Подтвердите пароль"
                                                           value=""/></p>
        <p><input name="edit" type="submit" value="Изменить данные"/></p>
    </form>
{% endblock %}

{% block javascripts %}
    <script src="../../js/my.js"></script>
{% endblock %}